<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<!-- <link rel="stylesheet" href="./loginpage.css"> -->
	<link rel="stylesheet" type="text/css" href="./loginpage.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<!-- <input type="checkbox" id="chk" aria-hidden="true"> -->

			<div class="signup">
				<center>
					<form method="post" >
						<label for="chk" aria-hidden="true">Sign up</label><br><br>
						<input type="text" name="name" placeholder="User name" required><br><br>
						<input type="email" name="email" placeholder="Email" required><br><br>
						<input type="password" name="pswd" placeholder="Password" required=""><br><br>
						<input type="submit">
						<!-- <button type="submit" >
							Submit
						</button> -->
						<p id="op"></p>
					</form>
				</center>
				
			</div>
	</div>
</body>
</html>